@import 'styles/settings.scss';

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - #{$header_height} - #{$footer_height} - 4rem);
  border: 1px solid $whisper;
  border-radius: 0.5rem;
}

.heading {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.info {
  font-size: 1.5rem;
  text-align: center;
}

.link {
  font-size: 1.5rem;
  text-decoration: none;
  color: blue;
}

