@import 'styles/settings.scss';

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.info {
  font-size: 1.5rem;
  text-align: center;
}

.link {
  font-size: 1.5rem;
  text-decoration: none;
  color: blue;
}

